@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	/* font-family: 'IBM Plex Sans', sans-serif; */
	font-family:
		'Inter',
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 16px;
	font-style: normal;
	letter-spacing: -0.011em;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
